/* custom css and js files included at the top level of your presentation will
 * will be included in your presentation */

/*.title-slide h1 {*/
/*color: blue;*/
/*}*/

body {
  font-family:futura;
}

#preso, .slide {
    background-color: #e9e9e9;
    height: 900px;
    width:100%;
}

#footer {
}

.slide .content h1 {
/*    align: left;*/
    font-size: 40px;
    font-weight: bold;
    font-family: futura;
}

#intro .content > ul {
    padding-top: 150px;
    list-style: none outside none;
}

.slide .content ul li {
    text-align: left;
    padding: 5px;
    font-size: 30px;
    list-style: inherit;
}

.slide .content p {
    margin: 0;
}

img {
  display: block;
  margin: 0 auto;
}

