<div id="footer" style="text-align:center">
  <span id="myFooter" style="font-size:18px"></span>
  <!--<span id="slideInfo"></span>-->
  <!--<span id="debugInfo"></span>-->
  <!--<span id="notesInfo"></span>-->
</div>
